<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nginx Vhost Manager</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h1>Nginx Vhost Manager</h1>
                <a href="{{ path('logout') }}">Logout</a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
